@font-face {
    font-family: 'Monda';
    src: url('./fonts/Monda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monda';
    src: url('./fonts/Monda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.komodore {
    color: #FFF !important;
    font-family: 'Monda', serif !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-left: 1.5%
}

.nav-background {
    background: #2165F6;
}

.nav-link {
    font-size: 18px;
}

.gray-background {
    background: #F6F6F6;
}

.white-box-1 {
    width: 575px;
    height: 457px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.white-box-2 {
    width: 575px;
    height: 600px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pill-btn {
    display: flex;
    width: 153px;
    height: 34px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: white;
    border-radius: 20px;
    border: none;
    background: #2165F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pill-btn:disabled {
    background-color: #d9e1f5;
    color: #7e99d6;
    cursor: not-allowed;
}

.custom {
    opacity: 1;
}

.custom h2.box-title {
    color: #2165F6;
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.custom p.box-desc {
    color: #2165F6;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.custom h4.box-title {
    color: #2165F6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.9px;
}

.car-name h2.car {
    color: #2165F6;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h2.category {
    color: #2165F6;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: underline;
}

.inter {
    font-family: 'Inter', sans-serif;
}
